.admin-posts-container
  .filters
    = link_to 'Normal', posts_admins_path, class: (params[:user_id].blank? && params[:order].blank? && params[:published].blank? ? 'success selected' : 'success')
    = link_to 'My Posts', posts_admins_path(user_id: current_user.id), class: (params[:user_id].present? ? 'success selected' : 'success')
    = link_to 'Oldest', posts_admins_path(order: 'oldest'), class: (params[:order].present? ? 'success selected' : 'success')
    = link_to 'Published', posts_admins_path(published: true), class: (params[:published].present? ? 'success selected' : 'success')
  .cards
    - posts.each do |post|
      = link_to post_path(post.id) do
        .card
          .card-image= image_tag post.image_url.present? ? post.image_url : 'placeholder.jpg'
          .card-header
            %span.title= post.title.truncate(30)
            %span.italic= post.publish_date.strftime("%m/%d/%Y")
          .card-copy
            %span.description= post.description.truncate(100)
            .actions
              = link_to 'Edit', edit_post_path(post.id), class: 'edit'
