.comments-container.reply-container{class: "reply-container#{comment.id}"}
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.username + ":"
      %p.content= comment.body
      %a

        %p
          %span.like-buttons
            %i.fa.fa-thumbs-o-up{data: {id: comment.id, vote_count: comment.vote_count, url: like_path(comment_id: comment.id)}}
            %i.fa.fa-thumbs-o-down{data: {id: comment.id, vote_count: comment.vote_count, url: dislike_path(comment_id: comment.id)}}
            %span{class: "vote-count#{comment.id}", data: {id: comment.id}}= "+ " + comment.vote_count.to_s

      // Enable deletion of comments by certain people
      - if  current_user.present? && (current_user.id == comment.user.id || current_user.is_admin?)
        %p.actions
          = link_to 'Delete', comment_path(comment.id, post_id: comment.post.id), method: :delete, class: "delete"
