%h1 Edit Post
.form
  = form_for post do |f|
    %fieldset
      %dl
        %dt= f.label :title
        %dd= f.text_field :title
        %dt= f.label :course
        %dd= f.select :course_id, options_for_select(courses.collect { |course| [course.course_code.titleize, course.id] }, 1), {}, class: 'form-control'
        %dt= f.label :embedded_url
        %dd= f.text_field :embed_url
        %dt= f.label :publish_date
        %dd= f.date_field :publish_date
        %dt= f.label :description
        %dd= f.trix_editor :description

    %fieldset.actions
      = f.submit 'Edit Post'
