.posts-container
  - posts.each do |post|
    .post
      %h1.title= link_to post.title, post_path(post.id)
      .video
        = link_to post_path(post.id) do
          = image_tag post.image_url.present? ? post.image_url : 'placeholder.jpg'
          %i.fa.fa-play
      .description
        = link_to truncate(post.description, length: 500, escape: false), post_path(post.id)
      - if current_user.present? && current_user.is_admin?
        .actions
          = link_to 'Edit', edit_post_path(post.id), class: 'edit'
          = link_to 'Delete', post_path(post.id), method: :delete, class: 'delete', id: 'comment_delete'
      .details
        %p.italic
          - if post.user.present?
            = post.user.username
          &bull;
          = post.publish_date.strftime("%B %-d, %Y")
        = link_to posts_path(course_code: post.course.course_code) do
          %p.course= post.course.course_code
  = will_paginate posts
  %p= @lower_bounds.to_s + " - " + @upper_bounds.to_s
