%form.search-bar{role:"search"}
  %input{type:"search", placeholder:"Search Lessons"}
  %button{type:"submit"}
    %i.fa.fa-search

.posts-container
  .post
    = link_to root_path do
      %h1.title Abstract Binary Tree
    .video
      = link_to root_path do
        = image_tag 'placeholder.jpg'
        %i.fa.fa-play
    .description
      = link_to @string.truncate(300), root_path
    - if current_user.present? && current_user.is_admin?
      .actions
        = link_to 'Edit', root_path, class: 'edit'
        = link_to 'Delete', root_path, class: 'delete'
  .post
    = link_to root_path do
      %h1.title Linked Lists
    .video
      = link_to root_path do
        = image_tag 'placeholder.jpg'
        %i.fa.fa-play
    .description
      = link_to @string.truncate(300), root_path
    - if current_user.present? && current_user.is_admin?
      .actions
        = link_to 'Edit', root_path, class: 'edit'
        = link_to 'Delete', root_path, class: 'delete'
