#show_post
  %h1= post.title
  .post-content
    .video= raw post.embed_url.html_safe
    .content
      %p.publisher
        %span.author= post.user.username
        &bull;
        %span.date= post.publish_date.strftime("%B %-d, %Y" )
      %p.course_code= post.course.course_code
      %p.description= post.description
  %h2 Comments &bull; (55)
  - if current_user.present?
    .form
      = form_for comment do |f|
        %fieldset
          %dl
            = f.hidden_field :post_id, value: post.id
            %dd= f.text_area :body, placeholder: "Add comment..."
        %fieldset.actions
          = f.submit 'Post Comment'
  .comments-container
    - comments.each do |comment|
      .comment
        %p.username= comment.user.username + ":"
        %p.content= comment.body
        %a

          // Does not work currently
          %p View replies (#{comment.id})
        - if  current_user.present? && current_user.id == comment.user.id
          %p.actions
            = link_to 'Delete', comment_path(comment.id, post_id: post.id), method: :delete, class: "delete"
