#show_post
  %h1= post.title
  .post-content
    .video= raw post.embed_url.html_safe
    .content
      %p.publisher
        %span.author= post.user.username
        |
        %span.date= post.publish_date.strftime("%B %-d, %Y" )
      %p.course_code= post.course.course_code
      %p.description= post.description
