#show_post
  %h1= post.title
  .post-content
    .video= post.embed_url
    .content
      %p.publisher
        %span.author= post.user.username
        |
        %span.date= post.publish_date
      %p.description= post.description
