%head
  %title
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  %link{href:'https://fonts.googleapis.com/css?family=Varela+Round', rel:'stylesheet', type: 'text/css'}
%body#main
  %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}
  .main-content
    %nav.navigation
      .header-image= link_to(image_tag "")
      .actions
        = link_to 'Home'
        = link_to 'About'
        = link_to 'Contact'

    .page-content
      = yield

      %nav.footer{role: 'contentinfo'}
        .links
          .social
            %li= link_to(image_tag('gatorace.png', alt: 'twitter'), 'http://gatorace.org/', target: '_blank')
            %li= link_to(image_tag('facebook.png', alt: 'facebook'), 'https://www.facebook.com/GatorACE/?fref=ts', target: '_blank')
