%head
  %title AceDiscussion
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  %link{href:'https://fonts.googleapis.com/css?family=Varela+Round', rel:'stylesheet', type: 'text/css'}
%body#main
  %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}
  .main-content
    = render "layouts/nav"
    = render "layouts/flash_messages"
    = render "layouts/user_links"

    .page-content
      = yield

    = render "layouts/footer"
